# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Large model files (we will handle this with Git LFS)
*.pth
*.pkl